@tailwind base;
@tailwind components;
@tailwind utilities;

/* Limitar texto a 2 líneas - */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* Propiedad estándar */
  overflow: hidden;
}